@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <select class="form-control" id="ddl_filter_seat">
                        <option value="0">Filter Seat</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <input id="input_filter_time" class="form-control" type="text" name="datetimes" placeholder="Filter Time Period" readonly/>
                </div>
            </div>
            <div class="col-3 text-right">
                <div class="form-group">
                    <button class="btn btn-primary" type="button" id="btn_new_reservation">Reserve</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 table_container">
                <div class="spinner-border" role="status"><span class="sr-only"> Loading...</span></div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12 pagination_container">

            </div>
        </div>

    </div>
    <div class="modal fade" id="modalReserveTable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Table Reservation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="spinner-border" role="status"><span class="sr-only"> Loading...</span></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btn_submit_reservation">Make Reservation</button>
                </div>
            </div>
        </div>
    </div>